<!--=== Header Page ===-->
{% include "Template/adminHeader.html" %}
<!--<pre>{{ data | tojson(indent=2) }}</pre>-->

<!--=== Signup Page ===-->
<body class="login-page" style="min-height: 466px;">
<div class="login-box">
    <div class="card card-outline card-primary">
        <div class="card-header text-center">
            <a href="{{ url_base() }}auth/signup" class="h1"><b>TT</b>Voice</a>
        </div>
        <div class="card-body">
            <p class="login-box-msg">Crear cuenta en TT Voice</p>
            <form class="form-data" data-destination="users" calling-method="setUser" data-type="json">
                <div class="input-group mb-3">
                    <input type="text" class="form-control" placeholder="Nombre completo" name="profileFullName" id="profileFullName">
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <i class="fas fa-address-card" aria-hidden="true"></i>
                        </div>
                    </div>
                </div>
                <div class="input-group mb-3">
                    <input type="text" class="form-control" placeholder="Nombre de usuario" name="userName" id="userName">
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fas fa-user"></span>
                        </div>
                    </div>
                </div>
                <div class="input-group mb-3">
                    <input type="text" class="form-control" placeholder="Correo electrónico" name="userEmail" id="userEmail">
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fas fa-envelope"></span>
                        </div>
                    </div>
                </div>
                <div class="input-group mb-3">
                    <input type="password" class="form-control" placeholder="Contraseña" name="userPassword" id="userPassword">
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fas fa-lock"></span>
                        </div>
                    </div>
                </div>
                <button id="send-user" type="submit" class="btn btn-primary btn-block">Crear cuenta</button>
            </form>
            <div class="social-auth-links text-center mt-2 mb-3">
                <button href="#" class="btn btn-block btn-danger">
                    <i class="fab fa-google-plus mr-2"></i> Crear cuenta con Google+
                </button>
            </div>

            <p class="mb-0">
                <a href="{{ url_base() }}auth/login" class="text-center">Ya tienes una cuenta?</a>
            </p>
        </div>
    </div>
</div>
</body>

<!--=== Footer Page ===-->
{% include "Template/adminFooter.html" %}