<!--=== Header Page ===-->
{% include "Template/adminHeader.html" %}
<!--=== Header Page ===-->
{% include "Template/adminSidebar.html" %}

<!--=== Profile Page ===-->
<body class="hold-transition sidebar-mini">
<div class="wrapper">
<div class="content-wrapper">
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Detalles del perfil</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active">User Profile</li>
                    </ol>
                </div>
            </div>
        </div>
    </section>
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-3">
                    <div class="card card-primary card-outline">
                        <div class="card-body box-profile">
                            <h3 class="profile-username text-center">Jimmy Donaldson</h3>
                            <p class="text-muted text-center">Youtuber</p>
                            <ul class="list-group list-group-unbordered mb-3">
                                <li class="list-group-item">
                                    <b>Audios</b> <a class="float-right">12</a>
                                </li>
                                <li class="list-group-item">
                                    <b>Textos</b> <a class="float-right">15</a>
                                </li>
                                <li class="list-group-item">
                                    <b>Se unio el</b> <a class="float-right">2/6/2025</a>
                                </li>
                            </ul>
                            <a href="#" class="btn btn-primary btn-block"><b>Follow</b></a>
                        </div>
                    </div>
                    <div class="card card-primary">
                        <div class="card-header">
                            <h3 class="card-title">Sobre mi</h3>
                        </div>
                        <div class="card-body">
                            <strong><i class="fas fa-book mr-1"></i> Presentacion</strong>
                            <p class="text-muted">
                                Soy youtuber, Animador y redactor de contenido.
                            </p>
                            <hr>
                            <strong><i class="fas fa-map-marker-alt mr-1"></i> Pais / Ciudad</strong>
                            <p class="text-muted">Honduras, Tegucigalpa</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-9">
                    <div class="card">
                        <div class="card-header p-2">
                            <ul class="nav nav-pills">
                                <li class="nav-item"><a class="nav-link active" href="#activity" data-toggle="tab">Actividad</a></li>
                                <li class="nav-item"><a class="nav-link" href="#settings" data-toggle="tab">Actualizar datos</a></li>
                            </ul>
                        </div>
                        <div class="card-body">
                            <div class="tab-content">
                                <div class="tab-pane active" id="activity">
                                    <!-- Post -->
                                    <div class="post">
                                        <div class="user-block">
                                            <span class="username">
                          <a href="#">Jimmy Donaldson</a>
                        </span>
                                            <span class="description">Publicado Today</span>
                                        </div>
                                        <p>
                                            Cuenta creada.
                                        </p>
                                    </div>
                                </div>
                                <div class="tab-pane" id="settings">

                                    <form class="form-horizontal form-data" data-destination="profile" calling-method="setProfile" data-type="json">
                                        <div class="form-group row">
                                            <label for="profileNames" class="col-sm-2 col-form-label">Nombre</label>
                                            <div class="col-sm-10">
                                                <input type="text" class="form-control" id="profileNames" name="profileNames" placeholder="Nombre" value="{{ user_data['profileNames']}}">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="profileSurnames" class="col-sm-2 col-form-label">Apellido</label>
                                            <div class="col-sm-10">
                                                <input type="text" class="form-control" id="profileSurnames" name="profileSurnames" placeholder="Apellido" value="{{ user_data['profileSurnames']}}">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="profileEmail" class="col-sm-2 col-form-label">Correo</label>
                                            <div class="col-sm-10">
                                                <input type="text" class="form-control" id="profileEmail" name="profileEmail" placeholder="Correo" value="{{ user_data['profileEmail']}}">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="userName" class="col-sm-2 col-form-label">Nombre de usuario</label>
                                            <div class="col-sm-10">
                                                <input type="text" class="form-control" id="userName" name="userName" placeholder="Nombre de usuario" value="{{ user_data['userName']}}">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="userPassword" class="col-sm-2 col-form-label">Contraseña</label>
                                            <div class="col-sm-10">
                                                <input type="text" class="form-control" id="userPassword" name="userPassword" placeholder="Contraseña">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <div class="offset-sm-2 col-sm-10">
                                                <button type="submit" class="btn btn-danger">Actualizar mis datos</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<!--=== Footer Page ===-->
{% include "Template/adminFooter.html" %}